@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face{
    font-family: 'Marine', sans-serif;
    src('marineregular.otf');
}
body{
    font-family: 'Marine', sans-serif;
}
.customer-name, .month, .day{
    font-family: 'Raleway', sans-serif;
}
.grey{
    background-color: #666666;
}
.white-font{
    color: #eeeeee;
}
.blue{
    background-color: #025D8C;
    color: #eeeeee;
}
.menu{
    width: 200px;
    height: 100%;
    position: absolute;
    right: 0;
}
.box{
    background-color: #025D8C;
}
.menu-label {
    color: #eee;
}
.menu-list a{
    color: #eee;
}
.date{
    text-align: center;
    box-shadow: 0px 0px 1px rgba(17, 17, 0, .1), 0px 0px 1px rgba(0, 0, 0, 0.5);
    margin-right: 15px;
    padding: 10px;
    width: 120px;
    background: whitesmoke;
}
.date .subtitle {
    margin-top: -5px;
}
.media-content{
    padding-left: 5px;
    padding-right: 5px;
  }

.day{
    background: #ddd;
    padding: 5px;
    margin: 5px;
    flex-direction: column;
    box-shadow: 0px 0px 1px rgba(17, 17, 0, .1), 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.day > .p {
    font-weight: 700;
}

 .month{
    font-size: 20px;
}
.log{
    /*box-shadow: 0px 0px 1px rgba(17, 17, 0, .1), 0px 0px 1px rgba(0, 0, 0, 0.4);*/
    margin: 0px 5px 5px 10px;
    border-radius: 3px;
    background: #eee;
}
.log-group-date{
    margin-bottom: 0.5rem !important;
}
body{
    font-family: 'Marine', sans-serif;
}
@media screen and (max-width: 768px) {
  .date {
      display: none;
  }
  .title{
      font-size: 1.5rem;
  }
  .subtitle{
      font-size: 1rem
  }
  
}
