@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face{
    font-family: 'Marine', sans-serif;
    src('marineregular.otf');
}
.customer-name{
    font-family: 'Raleway', sans-serif;
}
.grey{
    background-color: #666666;
}
.white-font{
    color: #eeeeee;
}
.blue{
    background-color: #025D8C;
    color: #eeeeee;
}
.menu{
    width: 200px;
    height: 100%;
    float: left;
    position: static;
}
.box{
    background-color: #025D8C;
}
.menu-label {
    color: #eee;
}
.menu-list a{
    color: #eee;
}
.date{
    text-align: center;
    box-shadow: 0px 0px 1px rgba(17, 17, 0, .1), 0px 0px 1px rgba(0, 0, 0, 0.5);
    margin-right: 15px;
    padding: 10px;
    width: 120px;
    background: whitesmoke;
}
.media-content{
    margin-top:10px;}

.monthday{
    margin-top: -10px;
}

 .weekday{
    font-size: 16px;
}
.log{
    box-shadow: 0px 0px 1px rgba(17, 17, 0, .1), 0px 0px 1px rgba(0, 0, 0, 0.4);
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
}
body{
    font-family: 'Marine', sans-serif;
}