@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face{
    font-family: 'Marine', sans-serif;
    src: url('marineregular.otf');
}
body, .customer-name, .work-duration{
    /*font-family: 'Marine', sans-serif;*/
}
.work-description, .month, .day{
    /*font-family: 'Raleway', sans-serif;*/
}
/*.grey{    background-color: #556270;}
.white-font{    color: #FCF9FC;}
.black-font{    color: slategrey;}
.blue-font{    color: #025D8C !important;}
.blue, .day{    background-color: #025D8C;
    color: #FCF9FC;}
.blue .button:hover{    background: #025D9D;}
.red{    background: #A40802;
    color: #eee;}

.light-blue{    background-color: #2A8FBD;
    color: #fff;}
.green{background: #06B083;
    color: #eee;}*/
.box{
    background-color: #025D8C;
}
.menu-label {
    color: #eee;
}
.menu-list a{
    color: #eee;
}

.media-content{
    padding-left: 5px;
    padding-right: 5px;
  }
.day{
    padding: 12px;
    margin: 5px;
    flex-direction: column;
    box-shadow: 0px 0px 1px rgba(17, 17, 0, .1), 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.day .level{
    flex-direction: row;

}
.day .p {
    font-weight: 700;
   
}
.log{
    border-radius: 3px;
    background: #eee;
}
.log + .log{
    margin-top: 10px;
}
.log + .log + .log{
    margin-top: 10px;
}
.day-date-title{
    /*color: #eee;*/
    font-weight: 500;
    font-size: 28px;
}
@media screen and (max-width: 768px) {
  .date {
      display: none;
  }
  .title{
      font-size: 1.5rem;
  }
  .subtitle{
      font-size: 1rem
  }
}

.logo{
    height: 100%;
}
.log-form{
    display: none;
}

.work-duration{
    margin-top: -15px;
    display: flex;
    flex-direction: row;
     color: slategray;
     line-height: 0.5rem;
}
.work-start-time, .work-end-time{
    font-size: 14px;
    text-transform: uppercase;
}
